<footer class="fixed w-[600px] h-1/20 min-h-[50px] bg-neutral-300 bottom-0 left-1/2 -translate-x-1/2">

    <div class="flex justify-center items-center h-full w-full">
        <ul class="flex space-x-4">
            <li>Téléciné 2025</li>
            <li>•</li>
            <li><a href="/about">À propos</a></li>
        </ul>
    </div>

</footer>
