<header class="relative flex flex-row w-full h-[100px] min-h-[50px] sm:justify-between" role="banner">

        <div class="relative left-4">
            <a href="/">
                <img class="w-24 max-w-[150px] mt-2" src="{{ asset('images/telecine_logo.png') }}" alt="Logo Téléciné">
            </a>
        </div>

        <nav class="relative hidden sm:flex justify-center place-content-center items-center h-full bg-primary min-w-[1000px] shadow-2xl ml-[78px]">
                <ul class="flex space-x-4 w-full justify-center">
                    <li><div class="bg-secondary hover:bg-accent hover:shadow-xl delay-200 duration-500 w-[210px] h-[50px] flex items-center justify-center"><a href="/see-all-events" class="w-full h-full flex items-center justify-center font-button">Liste des séances</a></div></li>
                    <li><div class="bg-secondary hover:bg-accent hover:shadow-xl delay-200 duration-500 w-[210px] h-[50px] flex items-center justify-center"><a href="/create-event" class="w-full h-full flex items-center justify-center font-button">Créer une séance</a></div></li>
                    {% if not app.user %}
                        <li><div class="bg-secondary hover:bg-accent hover:shadow-xl delay-200 duration-500 w-[210px] h-[50px] flex items-center justify-center "><a href="/sign-in" class="w-full h-full flex items-center justify-center font-button">Connexion</a></div></li>
                        <li><div class="bg-secondary hover:bg-accent hover:shadow-xl delay-200 duration-500 w-[210px] h-[50px] flex items-center justify-center "><a href="/sign-up" class="w-full h-full flex items-center justify-center font-button">Inscription</a></div></li>
                    {% endif %}
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><div class="bg-secondary hover:bg-accent hover:shadow-xl delay-200 duration-500 w-[210px] h-[50px] flex items-center justify-center "><a href="/admin" class="w-full h-full flex items-center justify-center font-button">Administration</a></div></li>
                        {% else %}
                        <li><div class="bg-secondary hover:bg-accent hover:shadow-xl delay-200 duration-500 w-[210px] h-[50px] flex items-center justify-center "><a href="/my-events" class="w-full h-full flex items-center justify-center font-button">Mes séances</a></div></li>
                        {% endif %}
                    {% endif %}
                    {% if app.user %}
                            <div class="mb-3">
                               <div class="bg-secondary hover:bg-accent hover:shadow-xl delay-200 duration-500 w-[210px] h-[50px] flex items-center justify-center "><a href='/sign-out' class="w-full h-full flex items-center justify-center font-button">Se déconnecter</a></div>
                            </div>
                        {% endif %}
                </ul>
        </nav>

    <nav class="relative flex flew-row sm:hidden items-center justify-center">
        <button id="burger-button">
            <img class="w-12 max-w-[48px]" src="{{ asset('icons/menu-burger.png') }}" alt="Menu burger">
        </button>
        <ul id="menu-content" class="absolute w-[150px] top-3/4 mt-1 bg-primary hidden sm:hidden items-center justify-center z-50 flex-col text-text-night border-4 border-double rounded-lg">
            <li><a href="/see-all-events" class="w-[48px]">Liste des séances</a></li>
            <li><a href="/create-event" class="w-[48px]">Créer une séance</a></li>
            {% if not app.user %}
                <li><a href="/sign-in" class="w-[48px]">Connexion</a></li>
                <li><a href="/sign-up" class="w-[48px]">Inscription</a></li>
            {% endif %}
            {% if app.user %}
                <li><a href="/sign-out" class="w-[48px]">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </nav>

        <div id ="user-profile-button" class="relative ml-4 mr-24 w-[60px]">
        {% if app.user %}
            {# <h4 class="text-primary text-center"> Bienvenue {{ app.user.userIdentifier }}</h4>   #}
            <a href="/my-events"><img src="{{ asset('icons/user_icon_orange.png') }}" alt="Lien vers mon compte" class="w-[48px] mt-4"></a>
        {% endif %}
        </div>

</header>
