<header class="relative flex flex-row w-screen h-[100px] min-h-[50px]">

    <div class="relative">
        <a href="/">
            <img class="w-24 max-w-[100px]" src="{{ asset('images/telecine_logo.png') }}" alt="Logo Téléciné">
        </a>
    </div>

    <div class="relative flex justify-center items-center h-full bg-neutral-300 w-[1000px] ml-4">
            <ul class="flex space-x-4">
                <li><a href="/see-all-events"><div class="bg-neutral-500 w-[210px] h-[50px]">Liste des séances</div></a></li>
                <li><a href="/create-event"><div class="bg-neutral-500 w-[210px] h-[50px]">Créer une séance</div></a></li>
                {% if not app.user %}
                    <li><a href="/sign-in"><div class="bg-neutral-500 w-[210px] h-[50px]">Connexion</div></a></li>
                    <li><a href="/sign-up"><div class="bg-neutral-500 w-[210px] h-[50px]">Inscription</div></a></li>
                {% endif %}
            </ul>
    </div>

    {% if app.user %}
    <div class="mb-3">
        {{ app.user.userIdentifier }} <a href='/sign-out'>Se déconnecter</a>
    </div>
    {% endif %}

</header>
