{% extends "base.html.twig"  %}

{% block main %}
    <main class="flex w-full h-14/20 justify-center mt-12">

        <div id="core-view" class="relative w-[1000px] flex flex-row justify-between">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in varius odio. Nulla pretium metus nec est euismod aliquam. Integer nec ex egestas, convallis diam eu, tempus felis. Mauris maximus libero nec quam suscipit ultrices a sit amet diam. Phasellus faucibus massa nulla, mattis auctor orci scelerisque quis. Nulla vel facilisis sapien, non mattis sem. Cras vehicula in ligula sit amet convallis.

            Praesent eu felis in eros imperdiet commodo. Maecenas efficitur mauris quis interdum convallis. Etiam maximus risus justo, non accumsan odio rutrum nec. Proin varius dolor sed dui tempor dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec id dui sit amet enim maximus tincidunt sit amet vitae dui. Ut quam urna, congue eget eros a, auctor posuere odio. Duis tincidunt lacus eget dapibus mollis. Aliquam suscipit magna nec elit porta, nec molestie nulla rhoncus. Nunc pellentesque, tellus vel suscipit tempor, neque purus varius dolor, eu fermentum nisi purus ac turpis.

            In nibh elit, euismod quis metus vel, consequat porta dui. Morbi sodales turpis a ligula pellentesque lacinia. Curabitur eu fermentum nisi. Quisque vel gravida nisl. Aenean efficitur, lectus et lacinia elementum, lorem tellus vestibulum mauris, a gravida nunc mi sed neque. Duis tincidunt venenatis metus. Duis ullamcorper massa eu quam efficitur, non pulvinar arcu efficitur. Curabitur nec ullamcorper lacus.</p>
        </div>
    </main>
{% endblock %}
