{% extends "base.html.twig"  %}

{% block body %}
    <h1>Accueil</h1>

    <p>Vill peð hugtak þora worsted ausa máv hoe lyfta wetter morð innri ausa snúru heiður kláði tilboð skála, bryggju, blómabúð. Diskur ausa máv munaðarleysingi áhyggjur kítti ausa rotta klukka wetter ausa rottuskáli, loðinn diskur rúsínan bóla kaldari ausa rotta rottaskáli.

        Wan kveinar ausa rotta rottaskáli morð kaldari innskot.

        "Ausa rotta rottaskáli, villutrú ausa baða sigursæl byrði vöruskipti shirker kokkar. Merktu diskur ausa baða kennari snúru tilboð náramorð hoe lyftir heiður júgur síða tilboð blómabúð. Shaker vatnið! Dun tappi þvottur skrifaði! Dun tappi gogggólf! Dun daglega-dúkur innri blómabúð, þar né sorghum-fnyk, dun tappi tog blautir sigtir!"</p>


{% endblock %}
