{% extends "base.html.twig"  %}

{% block main %}
    <main class="relative w-[1000px] h-17/20 left-1/2 -translate-x-1/2 mt-12">

            <div id="column-2" class="justify-self-end">
                <div id="latest-events" class="relative flex flex-col gap-y-4">
                    {% for event in events %}
                      <div id="event1" class="w-[490px] h-[205px] bg-neutral-300"><p> {{ event.eventName }} </p></div>
                    {% endfor %}
                </div>
            </div>
            
        </div>

    </main>

{% endblock %}
