{% extends "base.html.twig"  %}

{% block main %}
    <main class="flex w-full sm:h-14/20 justify-center mt-6 sm:mt-12 mb-24">
       <h1>Bienvenue {{ user.userName }}</h1>
    </main>
{% endblock %}
