{% extends "base.html.twig"  %}

{% block main %}
    <main class="flex w-full sm:h-14/20 justify-center mt-6 sm:mt-12 mb-24">

        <div id="core-view" class="relative w-[1000px] flex flex-row justify-between border-double border-4">
                <div class="relative bg-secondary p-6 sm:p-24 w-full">
                <h1 class="relative text-center mb-6">Erreur 403</h1>
                <p class="relative text-center">Vous n'avez pas accès à cette ressource. Cela peut-être dû à une absence d'autorisation ou à un banissement de votre adresse IP.</p>
            </div>
        </div>
    </main>
{% endblock %}
